---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/code?per_page=100&q=vcr%20minitest%20less_interactions%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1516678311'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":4,"incomplete_results":false,"items":[{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"765b8b5b406cfd0a25b96f30fbc03e04685cde21","url":"https://api.github.com/repositories/117643848/contents/Gemfile.lock?ref=a4fad7bde9d3796b565a5291c4b681845305172e","git_url":"https://api.github.com/repositories/117643848/git/blobs/765b8b5b406cfd0a25b96f30fbc03e04685cde21","html_url":"https://github.com/mjrode/stack-searcher/blob/a4fad7bde9d3796b565a5291c4b681845305172e/Gemfile.lock","repository":{"id":117643848,"name":"stack-searcher","full_name":"mjrode/stack-searcher","owner":{"login":"mjrode","id":13334933,"avatar_url":"https://avatars3.githubusercontent.com/u/13334933?v=4","gravatar_id":"","url":"https://api.github.com/users/mjrode","html_url":"https://github.com/mjrode","followers_url":"https://api.github.com/users/mjrode/followers","following_url":"https://api.github.com/users/mjrode/following{/other_user}","gists_url":"https://api.github.com/users/mjrode/gists{/gist_id}","starred_url":"https://api.github.com/users/mjrode/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mjrode/subscriptions","organizations_url":"https://api.github.com/users/mjrode/orgs","repos_url":"https://api.github.com/users/mjrode/repos","events_url":"https://api.github.com/users/mjrode/events{/privacy}","received_events_url":"https://api.github.com/users/mjrode/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mjrode/stack-searcher","description":"Find
        apps by libraries used","fork":false,"url":"https://api.github.com/repos/mjrode/stack-searcher","forks_url":"https://api.github.com/repos/mjrode/stack-searcher/forks","keys_url":"https://api.github.com/repos/mjrode/stack-searcher/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mjrode/stack-searcher/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mjrode/stack-searcher/teams","hooks_url":"https://api.github.com/repos/mjrode/stack-searcher/hooks","issue_events_url":"https://api.github.com/repos/mjrode/stack-searcher/issues/events{/number}","events_url":"https://api.github.com/repos/mjrode/stack-searcher/events","assignees_url":"https://api.github.com/repos/mjrode/stack-searcher/assignees{/user}","branches_url":"https://api.github.com/repos/mjrode/stack-searcher/branches{/branch}","tags_url":"https://api.github.com/repos/mjrode/stack-searcher/tags","blobs_url":"https://api.github.com/repos/mjrode/stack-searcher/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mjrode/stack-searcher/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mjrode/stack-searcher/git/refs{/sha}","trees_url":"https://api.github.com/repos/mjrode/stack-searcher/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mjrode/stack-searcher/statuses/{sha}","languages_url":"https://api.github.com/repos/mjrode/stack-searcher/languages","stargazers_url":"https://api.github.com/repos/mjrode/stack-searcher/stargazers","contributors_url":"https://api.github.com/repos/mjrode/stack-searcher/contributors","subscribers_url":"https://api.github.com/repos/mjrode/stack-searcher/subscribers","subscription_url":"https://api.github.com/repos/mjrode/stack-searcher/subscription","commits_url":"https://api.github.com/repos/mjrode/stack-searcher/commits{/sha}","git_commits_url":"https://api.github.com/repos/mjrode/stack-searcher/git/commits{/sha}","comments_url":"https://api.github.com/repos/mjrode/stack-searcher/comments{/number}","issue_comment_url":"https://api.github.com/repos/mjrode/stack-searcher/issues/comments{/number}","contents_url":"https://api.github.com/repos/mjrode/stack-searcher/contents/{+path}","compare_url":"https://api.github.com/repos/mjrode/stack-searcher/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mjrode/stack-searcher/merges","archive_url":"https://api.github.com/repos/mjrode/stack-searcher/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mjrode/stack-searcher/downloads","issues_url":"https://api.github.com/repos/mjrode/stack-searcher/issues{/number}","pulls_url":"https://api.github.com/repos/mjrode/stack-searcher/pulls{/number}","milestones_url":"https://api.github.com/repos/mjrode/stack-searcher/milestones{/number}","notifications_url":"https://api.github.com/repos/mjrode/stack-searcher/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mjrode/stack-searcher/labels{/name}","releases_url":"https://api.github.com/repos/mjrode/stack-searcher/releases{/id}","deployments_url":"https://api.github.com/repos/mjrode/stack-searcher/deployments"},"score":6.7850246},{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"02079ebfbd085f8fd3f0d643ec1f459d6b9925ab","url":"https://api.github.com/repositories/65945945/contents/Gemfile.lock?ref=9373d206d4ffafa2fbfc5720f1165129b5b53f2c","git_url":"https://api.github.com/repositories/65945945/git/blobs/02079ebfbd085f8fd3f0d643ec1f459d6b9925ab","html_url":"https://github.com/mjrode/workhard/blob/9373d206d4ffafa2fbfc5720f1165129b5b53f2c/Gemfile.lock","repository":{"id":65945945,"name":"workhard","full_name":"m[...]
