---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/code?per_page=20&q=github_api%20vcr%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Reset:
      - '1516674561'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/code?q=github_api+vcr+filename%3AGemfile.lock&per_page=20&page=2>;
        rel="next", <https://api.github.com/search/code?q=github_api+vcr+filename%3AGemfile.lock&per_page=20&page=6>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":120,"incomplete_results":false,"items":[{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"8d5db9cc278c11cc70cf097840f5693a39516017","url":"https://api.github.com/repositories/31317060/contents/Gemfile.lock?ref=af5b8359ebfaa88b272013d84d5df1c09689da14","git_url":"https://api.github.com/repositories/31317060/git/blobs/8d5db9cc278c11cc70cf097840f5693a39516017","html_url":"https://github.com/dam/limelm/blob/af5b8359ebfaa88b272013d84d5df1c09689da14/Gemfile.lock","repository":{"id":31317060,"name":"limelm","full_name":"dam/limelm","owner":{"login":"dam","id":349703,"avatar_url":"https://avatars1.githubusercontent.com/u/349703?v=4","gravatar_id":"","url":"https://api.github.com/users/dam","html_url":"https://github.com/dam","followers_url":"https://api.github.com/users/dam/followers","following_url":"https://api.github.com/users/dam/following{/other_user}","gists_url":"https://api.github.com/users/dam/gists{/gist_id}","starred_url":"https://api.github.com/users/dam/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dam/subscriptions","organizations_url":"https://api.github.com/users/dam/orgs","repos_url":"https://api.github.com/users/dam/repos","events_url":"https://api.github.com/users/dam/events{/privacy}","received_events_url":"https://api.github.com/users/dam/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dam/limelm","description":"Ruby
        API wrapper for LimeLM ","fork":false,"url":"https://api.github.com/repos/dam/limelm","forks_url":"https://api.github.com/repos/dam/limelm/forks","keys_url":"https://api.github.com/repos/dam/limelm/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dam/limelm/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dam/limelm/teams","hooks_url":"https://api.github.com/repos/dam/limelm/hooks","issue_events_url":"https://api.github.com/repos/dam/limelm/issues/events{/number}","events_url":"https://api.github.com/repos/dam/limelm/events","assignees_url":"https://api.github.com/repos/dam/limelm/assignees{/user}","branches_url":"https://api.github.com/repos/dam/limelm/branches{/branch}","tags_url":"https://api.github.com/repos/dam/limelm/tags","blobs_url":"https://api.github.com/repos/dam/limelm/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dam/limelm/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dam/limelm/git/refs{/sha}","trees_url":"https://api.github.com/repos/dam/limelm/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dam/limelm/statuses/{sha}","languages_url":"https://api.github.com/repos/dam/limelm/languages","stargazers_url":"https://api.github.com/repos/dam/limelm/stargazers","contributors_url":"https://api.github.com/repos/dam/limelm/contributors","subscribers_url":"https://api.github.com/repos/dam/limelm/subscribers","subscription_url":"https://api.github.com/repos/dam/limelm/subscription","commits_url":"https://api.github.com/repos/dam/limelm/commits{/sha}","git_commits_url":"https://api.github.com/repos/dam/limelm/git/commits{/sha}","comments_url":"https://api.github.com/repos/dam/limelm/comments{/number}","issue_comment_url":"https://api.github.com/repos/dam/limelm/issues/comments{/number}","contents_url":"https://api.github.com/repos/dam/limelm/contents/{+path}","compare_url":"https://api.github.com/repos/dam/limelm/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dam/limelm/merges","archive_url":"https://api.github.com/repos/dam/limelm/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dam/limelm/downloads","issues_url":"https://api.github.com/repos/dam/limelm/issues{/number}","pulls_url":"https://api.github.com/repos/dam/limelm/pulls{/number}","milestones_url":"https://api.github.com/repos/dam/limelm/milestones{/number}","notifications_url":"https://api.github.com/repos/dam/limelm/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dam/limelm/labels{/name}","releases_url":"https://api.github.com/repos/dam/limelm/releases{/id}","deployments_url":"https://api.github.com/repos/dam/limelm/deployments"},"score":8.113735},{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"59c173f22a3d75f7f0bd412455be109162833ce3","url":"https://api.github.com/repositories/14793043/contents/Gemfile.lock?ref=7088411555f682d83808361e87ff1ab51902c244","git_url":"https://api.github.com/repositories/14793043/git/blobs/59c173f22a3d75f7f0bd412455be109162833ce3","html_url":"https://github.com/timmyc/tyt/blob/7088411555f682d83808361e87ff1ab51902c244/Gemfile.lock","repository":{"id":14793043,"name":"tyt","full_name":"timmyc/tyt",[...]
