---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1516775817'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4997,"reset":1516775817},"search":{"limit":30,"remaining":28,"reset":1516772900},"graphql":{"limit":5000,"remaining":5000,"reset":1516776456}},"rate":{"limit":5000,"remaining":4997,"reset":1516775817}}'
  recorded_at: Wed, 24 Jan 2018 05:31:14 GMT
recorded_with: VCR 4.0.0
