---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hakanensari/fixer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1516008994'
      Etag:
      - W/"c504c552133a85c60fbda46bcf6612fe"
      Last-Modified:
      - Mon, 15 Jan 2018 03:12:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":6778461,"name":"fixer","full_name":"hakanensari/fixer","owner":{"login":"hakanensari","id":31693,"avatar_url":"https://avatars3.githubusercontent.com/u/31693?v=4","gravatar_id":"","url":"https://api.github.com/users/hakanensari","html_url":"https://github.com/hakanensari","followers_url":"https://api.github.com/users/hakanensari/followers","following_url":"https://api.github.com/users/hakanensari/following{/other_user}","gists_url":"https://api.github.com/users/hakanensari/gists{/gist_id}","starred_url":"https://api.github.com/users/hakanensari/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hakanensari/subscriptions","organizations_url":"https://api.github.com/users/hakanensari/orgs","repos_url":"https://api.github.com/users/hakanensari/repos","events_url":"https://api.github.com/users/hakanensari/events{/privacy}","received_events_url":"https://api.github.com/users/hakanensari/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hakanensari/fixer","description":"A
        foreign exchange rates and currency conversion API","fork":false,"url":"https://api.github.com/repos/hakanensari/fixer","forks_url":"https://api.github.com/repos/hakanensari/fixer/forks","keys_url":"https://api.github.com/repos/hakanensari/fixer/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hakanensari/fixer/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hakanensari/fixer/teams","hooks_url":"https://api.github.com/repos/hakanensari/fixer/hooks","issue_events_url":"https://api.github.com/repos/hakanensari/fixer/issues/events{/number}","events_url":"https://api.github.com/repos/hakanensari/fixer/events","assignees_url":"https://api.github.com/repos/hakanensari/fixer/assignees{/user}","branches_url":"https://api.github.com/repos/hakanensari/fixer/branches{/branch}","tags_url":"https://api.github.com/repos/hakanensari/fixer/tags","blobs_url":"https://api.github.com/repos/hakanensari/fixer/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hakanensari/fixer/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hakanensari/fixer/git/refs{/sha}","trees_url":"https://api.github.com/repos/hakanensari/fixer/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hakanensari/fixer/statuses/{sha}","languages_url":"https://api.github.com/repos/hakanensari/fixer/languages","stargazers_url":"https://api.github.com/repos/hakanensari/fixer/stargazers","contributors_url":"https://api.github.com/repos/hakanensari/fixer/contributors","subscribers_url":"https://api.github.com/repos/hakanensari/fixer/subscribers","subscription_url":"https://api.github.com/repos/hakanensari/fixer/subscription","commits_url":"https://api.github.com/repos/hakanensari/fixer/commits{/sha}","git_commits_url":"https://api.github.com/repos/hakanensari/fixer/git/commits{/sha}","comments_url":"https://api.github.com/repos/hakanensari/fixer/comments{/number}","issue_comment_url":"https://api.github.com/repos/hakanensari/fixer/issues/comments{/number}","contents_url":"https://api.github.com/repos/hakanensari/fixer/contents/{+path}","compare_url":"https://api.github.com/repos/hakanensari/fixer/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hakanensari/fixer/merges","archive_url":"https://api.github.com/repos/hakanensari/fixer/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hakanensari/fixer/downloads","issues_url":"https://api.github.com/repos/hakanensari/fixer/issues{/number}","pulls_url":"https://api.github.com/repos/hakanensari/fixer/pulls{/number}","milestones_url":"https://api.github.com/repos/hakanensari/fixer/milestones{/number}","notifications_url":"https://api.github.com/repos/hakanensari/fixer/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hakanensari/fixer/labels{/name}","releases_url":"https://api.github.com/repos/hakanensari/fixer/releases{/id}","deployments_url":"https://api.github.com/repos/hakanensari/fixer/deployments","created_at":"2012-11-20T13:41:46Z","updated_at":"2018-01-15T03:12:03Z","pushed_at":"2018-01-08T12:37:26Z","git_url":"git://github.com/hakanensari/fixer.git","ssh_url":"git@github.com:hakanensari/fixer.git","clone_url":"https://github.com/hakanensari/fixer.git","svn_url":"https://github.com/hakanensari/fixer","homepage":"http://fixer.io","size":1237,"stargazers_count":1933,"watchers_count":1933,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":122,"mirror_url":null,"archived":false,"open_issues_count":49,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit"},"forks":122,"open_issues":49,"watchers":1933,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":122,"subscribers_count":55}'
  recorded_at: Mon, 15 Jan 2018 08:47:36 GMT
recorded_with: VCR 4.0.0
