---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/code?per_page=100&q=github_api%20vcr%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1516776472'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/code?q=github_api+vcr+filename%3AGemfile.lock&per_page=100&page=2>;
        rel="next", <https://api.github.com/search/code?q=github_api+vcr+filename%3AGemfile.lock&per_page=100&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":120,"incomplete_results":false,"items":[{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"8d5db9cc278c11cc70cf097840f5693a39516017","url":"https://api.github.com/repositories/31317060/contents/Gemfile.lock?ref=af5b8359ebfaa88b272013d84d5df1c09689da14","git_url":"https://api.github.com/repositories/31317060/git/blobs/8d5db9cc278c11cc70cf097840f5693a39516017","html_url":"https://github.com/dam/limelm/blob/af5b8359ebfaa88b272013d84d5df1c09689da14/Gemfile.lock","repository":{"id":31317060,"name":"limelm","full_name":"dam/limelm","owner":{"login":"dam","id":349703,"avatar_url":"https://avatars1.githubusercontent.com/u/349703?v=4","gravatar_id":"","url":"https://api.github.com/users/dam","html_url":"https://github.com/dam","followers_url":"https://api.github.com/users/dam/followers","following_url":"https://api.github.com/users/dam/following{/other_user}","gists_url":"https://api.github.com/users/dam/gists{/gist_id}","starred_url":"https://api.github.com/users/dam/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dam/subscriptions","organizations_url":"https://api.github.com/users/dam/orgs","repos_url":"https://api.github.com/users/dam/repos","events_url":"https://api.github.com/users/dam/events{/privacy}","received_events_url":"https://api.github.com/users/dam/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dam/limelm","description":"Ruby
        API wrapper for LimeLM ","fork":false,"url":"https://api.github.com/repos/dam/limelm","forks_url":"https://api.github.com/repos/dam/limelm/forks","keys_url":"https://api.github.com/repos/dam/limelm/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dam/limelm/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dam/limelm/teams","hooks_url":"https://api.github.com/repos/dam/limelm/hooks","issue_events_url":"https://api.github.com/repos/dam/limelm/issues/events{/number}","events_url":"https://api.github.com/repos/dam/limelm/events","assignees_url":"https://api.github.com/repos/dam/limelm/assignees{/user}","branches_url":"https://api.github.com/repos/dam/limelm/branches{/branch}","tags_url":"https://api.github.com/repos/dam/limelm/tags","blobs_url":"https://api.github.com/repos/dam/limelm/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dam/limelm/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dam/limelm/git/refs{/sha}","trees_url":"https://api.github.com/repos/dam/limelm/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dam/limelm/statuses/{sha}","languages_url":"https://api.github.com/repos/dam/limelm/languages","stargazers_url":"https://api.github.com/repos/dam/limelm/stargazers","contributors_url":"https://api.github.com/repos/dam/limelm/contributors","subscribers_url":"https://api.github.com/repos/dam/limelm/subscribers","subscription_url":"https://api.github.com/repos/dam/limelm/subscription","commits_url":"https://api.github.com/repos/dam/limelm/commits{/sha}","git_commits_url":"https://api.github.com/repos/dam/limelm/git/commits{/sha}","comments_url":"https://api.github.com/repos/dam/limelm/comments{/number}","issue_comment_url":"https://api.github.com/repos/dam/limelm/issues/comments{/number}","contents_url":"https://api.github.com/repos/dam/limelm/contents/{+path}","compare_url":"https://api.github.com/repos/dam/limelm/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dam/limelm/merges","archive_url":"https://api.github.com/repos/dam/limelm/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dam/limelm/downloads","issues_url":"https://api.github.com/repos/dam/limelm/issues{/number}","pulls_url":"https://api.github.com/repos/dam/limelm/pulls{/number}","milestones_url":"https://api.github.com/repos/dam/limelm/milestones{/number}","notifications_url":"https://api.github.com/repos/dam/limelm/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dam/limelm/labels{/name}","releases_url":"https://api.github.com/repos/dam/limelm/releases{/id}","deployments_url":"https://api.github.com/repos/dam/limelm/deployments"},"score":8.114382},{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"59c173f22a3d75f7f0bd412455be109162833ce3","url":"https://api.github.com/repositories/14793043/contents/Gemfile.lock?ref=7088411555f682d83808361e87ff1ab51902c244","git_url":"https://api.github.com/repositories/14793043/git/blobs/59c173f22a3d75f7f0bd412455be109162833ce3","html_url":"https://github.com/timmyc/tyt/blob/7088411555f682d83808361e87ff1ab51902c244/Gemfile.lock","repository":{"id":14793043,"name":"tyt","full_name":"timmyc/tyt",[...]
- request:
    method: get
    uri: https://api.github.com/search/code?page=2&per_page=100&q=github_api%20vcr%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
 [...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=dam/limelm%20in:name%20OR%20timmyc/tyt%20in:name%20OR%20rpepato/fc2json%20in:name%20OR%20wopr42/hawt%20in:name%20OR%20redconfetti/annotate_gemfilein:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=MyceliumGear/straight%20in:name%20OR%20bensheldon/request_for_comment%20in:name%20OR%20snitko/straight%20in:name%20OR%20unrealhoang/bitfinex-rb%20in:name%20OR%20theodi/bimblein:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=lodestone/marvel%20in:name%20OR%20oguzcanhuner/eucalyptus%20in:name%20OR%20ess/brine%20in:name%20OR%20dayweek/github-lang%20in:name%20OR%20easyPEP/enricoin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=madmimi/madmimi-gem%20in:name%20OR%20green-bot/greenbot-core%20in:name%20OR%20jackchoi/boardgamegeek%20in:name%20OR%20ingmaras/when-i-work%20in:name%20OR%20vesess/hiveage-ruby-clientin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-T[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=intelliot/bitstamp-rbtc-arbitrage-0.4.0%20in:name%20OR%20aproxacs/daum_api%20in:name%20OR%20mduqueoviedo/interfax-ruby%20in:name%20OR%20saams4u/salam%20in:name%20OR%20v-wang/open-statesin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Conten[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=exitround/capital-iq%20in:name%20OR%20pracstrat/geocoder%20in:name%20OR%20BigAppleSoftball/ratingsManager%20in:name%20OR%20wegotcoders/better_radar%20in:name%20OR%20bsensale/not-itin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Typ[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=AyeSms/aye-sms-ruby%20in:name%20OR%20dstockdale/nationbuilder-ruby%20in:name%20OR%20joseluistorres/openweathermap-ruby-gdl%20in:name%20OR%20DekaFugihara/madmimi%20in:name%20OR%20anildias/zipcode_locatorin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    head[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=himaratsu/embed_things%20in:name%20OR%20theodi/certificate-factory%20in:name%20OR%20dkamioka/pokeapi-ruby%20in:name%20OR%20ejcosti/sportsdata%20in:name%20OR%20anthony-gerrits/PIN-Paymentsin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=tilljoel/bs%20in:name%20OR%20404Ghost99/Api%20in:name%20OR%20honeypotio/challenge%20in:name%20OR%20mariorz/bitso-ruby%20in:name%20OR%20coupacooke/status_cakein:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=mthssdrbrg/rbk%20in:name%20OR%20gaetanm/rick%20in:name%20OR%20felipecsl/wombat%20in:name%20OR%20charly/jail%20in:name%20OR%20johnjansen/es_copyin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=dan-palmer/random_incidents%20in:name%20OR%20tradegecko/woocommerce_api%20in:name%20OR%20dNitza/pin_up-receipts%20in:name%20OR%20Edools/edools-ruby%20in:name%20OR%20aisrael/active_awsin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=drakmail/sms-uslugi-api%20in:name%20OR%20wikiti/scaleapi-ruby%20in:name%20OR%20axsuul/dubdubdub%20in:name%20OR%20jkeen/popularity%20in:name%20OR%20dNitza/pin_upin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicati[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=okfn-brasil/esic%20in:name%20OR%20wikiti/languagetool-ruby%20in:name%20OR%20doncruse/texapp-coa-scraper%20in:name%20OR%20wikiti/deepl-rb%20in:name%20OR%20ResultadosDigitais/agendor-rubyin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Conten[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=moviepilot/zuck%20in:name%20OR%20chute/chute-ruby%20in:name%20OR%20joannecheng/visualizing_rails_history%20in:name%20OR%20tgaff/PR_enqueue_tool%20in:name%20OR%20ProjectEntropy/coinprismin:name&type=Repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Conten[...]
