---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/code?page=&per_page=100&q=vcr%20octokit%20pg%20font-awesome-rails%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1516060947'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":28,"incomplete_results":false,"items":[{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"6328551a57a66f4ed7cadc1d278239b3b3737af9","url":"https://api.github.com/repositories/21468732/contents/Gemfile.lock?ref=7ec24a83b943f293b1c2d2f6ca49b7b40fa8f014","git_url":"https://api.github.com/repositories/21468732/git/blobs/6328551a57a66f4ed7cadc1d278239b3b3737af9","html_url":"https://github.com/johnkeith/GitCard/blob/7ec24a83b943f293b1c2d2f6ca49b7b40fa8f014/Gemfile.lock","repository":{"id":21468732,"name":"GitCard","full_name":"johnkeith/GitCard","owner":{"login":"johnkeith","id":4976905,"avatar_url":"https://avatars2.githubusercontent.com/u/4976905?v=4","gravatar_id":"","url":"https://api.github.com/users/johnkeith","html_url":"https://github.com/johnkeith","followers_url":"https://api.github.com/users/johnkeith/followers","following_url":"https://api.github.com/users/johnkeith/following{/other_user}","gists_url":"https://api.github.com/users/johnkeith/gists{/gist_id}","starred_url":"https://api.github.com/users/johnkeith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/johnkeith/subscriptions","organizations_url":"https://api.github.com/users/johnkeith/orgs","repos_url":"https://api.github.com/users/johnkeith/repos","events_url":"https://api.github.com/users/johnkeith/events{/privacy}","received_events_url":"https://api.github.com/users/johnkeith/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/johnkeith/GitCard","description":"Show
        off your best work on Github and view statistics about your languages used
        and commit history","fork":false,"url":"https://api.github.com/repos/johnkeith/GitCard","forks_url":"https://api.github.com/repos/johnkeith/GitCard/forks","keys_url":"https://api.github.com/repos/johnkeith/GitCard/keys{/key_id}","collaborators_url":"https://api.github.com/repos/johnkeith/GitCard/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/johnkeith/GitCard/teams","hooks_url":"https://api.github.com/repos/johnkeith/GitCard/hooks","issue_events_url":"https://api.github.com/repos/johnkeith/GitCard/issues/events{/number}","events_url":"https://api.github.com/repos/johnkeith/GitCard/events","assignees_url":"https://api.github.com/repos/johnkeith/GitCard/assignees{/user}","branches_url":"https://api.github.com/repos/johnkeith/GitCard/branches{/branch}","tags_url":"https://api.github.com/repos/johnkeith/GitCard/tags","blobs_url":"https://api.github.com/repos/johnkeith/GitCard/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/johnkeith/GitCard/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/johnkeith/GitCard/git/refs{/sha}","trees_url":"https://api.github.com/repos/johnkeith/GitCard/git/trees{/sha}","statuses_url":"https://api.github.com/repos/johnkeith/GitCard/statuses/{sha}","languages_url":"https://api.github.com/repos/johnkeith/GitCard/languages","stargazers_url":"https://api.github.com/repos/johnkeith/GitCard/stargazers","contributors_url":"https://api.github.com/repos/johnkeith/GitCard/contributors","subscribers_url":"https://api.github.com/repos/johnkeith/GitCard/subscribers","subscription_url":"https://api.github.com/repos/johnkeith/GitCard/subscription","commits_url":"https://api.github.com/repos/johnkeith/GitCard/commits{/sha}","git_commits_url":"https://api.github.com/repos/johnkeith/GitCard/git/commits{/sha}","comments_url":"https://api.github.com/repos/johnkeith/GitCard/comments{/number}","issue_comment_url":"https://api.github.com/repos/johnkeith/GitCard/issues/comments{/number}","contents_url":"https://api.github.com/repos/johnkeith/GitCard/contents/{+path}","compare_url":"https://api.github.com/repos/johnkeith/GitCard/compare/{base}...{head}","merges_url":"https://api.github.com/repos/johnkeith/GitCard/merges","archive_url":"https://api.github.com/repos/johnkeith/GitCard/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/johnkeith/GitCard/downloads","issues_url":"https://api.github.com/repos/johnkeith/GitCard/issues{/number}","pulls_url":"https://api.github.com/repos/johnkeith/GitCard/pulls{/number}","milestones_url":"https://api.github.com/repos/johnkeith/GitCard/milestones{/number}","notifications_url":"https://api.github.com/repos/johnkeith/GitCard/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/johnkeith/GitCard/labels{/name}","releases_url":"https://api.github.com/repos/johnkeith/GitCard/releases{/id}","deployments_url":"https://api.github.com/repos/johnkeith/GitCard/deployments"},"score":6.8234324},{"name":"Gemfile.lock","path":"Gemfile.lock","sha":"624c2349f34dd95db984175e930c85a8a8cc928c","url":"https://api.github.com/repositories/15594856/contents/Gemfile.lock?ref=cdbba2d67e163f0a85e222de4dd6b75f6139c7db","git_url":"https://api.github.com/repositories/15594856/git/blobs/624c2349f34dd95db984175e930c85a8a8cc928c","html_url":"https://github.com/openpolitics/groupthink/blob/cdbba2d67e163f0a85e222de4dd6b75f6139c7db/Gemfile.lock","repository":{"id":15594856,"name":"groupthink","ful[...]
- request:
    method: get
    uri: https://api.github.com/search/code?page=1&per_page=100&q=vcr%20octokit%20pg%20font-awesome-rails%20filename:Gemfile.lock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/GitCard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1516064487'
      Etag:
      - W/"2f0f1cbacd2e41b76c2542fba9c77049"
      Last-Modified:
      - Mon, 31 Jul 2017 02:14:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":21468732,"name":"GitCard","full_name":"johnkeith/GitCard","owner":{"login":"johnkeith","id":4976905,"avatar_url":"https://avatars2.githubusercontent.com/u/4976905?v=4","gravatar_id":"","url":"https://api.github.com/users/johnkeith","html_url":"https://github.com/johnkeith","followers_url":"https://api.github.com/users/johnkeith/followers","fol[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/groupthink
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '15160644[...]
- request:
    method: get
    uri: https://api.github.com/repos/wadtech/homepage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1516064487'
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/ZagakuAppRails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '151606[...]
- request:
    method: get
    uri: https://api.github.com/repos/PeijieLi/personal169projectrepo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '[...]
- request:
    method: get
    uri: https://api.github.com/repos/mynewsdesk/mnd-team-list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1516064[...]
- request:
    method: get
    uri: https://api.github.com/repos/ruby-bench/ruby-bench-web
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '151606[...]
- request:
    method: get
    uri: https://api.github.com/repos/coreinfrastructure/best-practices-badge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/ychubachi/activity_watcher
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '15160[...]
- request:
    method: get
    uri: https://api.github.com/repos/gitshowcase/gitshowcase
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '15160644[...]
- request:
    method: get
    uri: https://api.github.com/repos/wikihouseproject/wikihouse.cc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '15[...]
- request:
    method: get
    uri: https://api.github.com/repos/ChefLabs/gitfolio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1516064487'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/testributor/katana
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1516064487'
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/chubachi-pt-2017/activity_watcher-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/hstove/issue_stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1516064487'
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/TheOdinProject/theodinproject
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '15[...]
- request:
    method: get
    uri: https://api.github.com/repos/SUSE/Portus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1516064487'
      Et[...]
- request:
    method: get
    uri: https://api.github.com/repos/hmasuda15745144/activity_watcher
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - [...]
- request:
    method: get
    uri: https://api.github.com/repos/ThinkTankShark/myWebsite2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1516[...]
- request:
    method: get
    uri: https://api.github.com/repos/AgileVentures/WebsiteOne
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1516064[...]
- request:
    method: get
    uri: https://api.github.com/repos/hamika/numerology_horoscopes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '151[...]
- request:
    method: get
    uri: https://api.github.com/repos/onisimhan/OdinProject
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1516064487[...]
- request:
    method: get
    uri: https://api.github.com/repos/jylee93/equalise
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1516064487'
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/iroon/qKroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1516064487'
      Et[...]
- request:
    method: get
    uri: https://api.github.com/repos/mezis/git-heroes-app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1516064487'[...]
- request:
    method: get
    uri: https://api.github.com/repos/jylee93/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1516064487'
      E[...]
- request:
    method: get
    uri: https://api.github.com/repos/scienceexchange/scientificprotocols
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/mhtkmr54/rails-env-c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic bWpyb2RlOlJvc2U0NGJ1ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1516064487[...]
